# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Install Qt
      - name: Install Qt
        uses: jurplel/install-qt-action@v2.9.0
        with:
          version: 5.12.6
          arch: win64_mingw73
        
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v2

      # Qmake
      - name: Qmake
        run: qmake -o Makefile AmongUsMap.pro CONFIG+=release 
        
       # make
      - name: make
        run: make
      
      # Upload build artifact
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2.2.1
        with:
          # Artifact name
          name: Investigator
          # A file, directory or wildcard pattern that describes what to upload
          path: release/AmongUsMap.exe
          # The desired behavior if no files are found using the provided path (warn error ignore)
          if-no-files-found: warn
          retention-days: 30
